
@{
    ViewData["Title"] = "ResultDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Result Listings</h4>
        <ul class="db-breadcrumb-list">
            <li><a href="/Admin/dashboard"><i class="fa fa-home"></i>Home</a></li>
            <li>Results</li>
        </ul>
    </div>

    <table class="mb-0 table table-striped" id="dtAllResult">
        <thead>
            <tr>
                <th>Matric No</th>
                <th>FullName</th>
                <th>Score</th>
                <th>Grade Point</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S220202003</td>
                <td>Kareem Olamilekan Sheriff</td>
                <td>89</td>
                <td>12.84</td>
                <td><a href="/Admin/ResultDetail" class="btn btn-secondary">Edit</a></td>
            </tr>
            <tr>
                <td>S220202005</td>
                <td>Oduntan Funmilayo Adeyinka</td>
                <td>94</td>
                <td>15.12</td>
                <td><a href="/Admin/ResultDetail" class="btn btn-secondary">Edit</a></td>
            </tr>
            <tr>
                <td>S220202007</td>
                <td>Ganiyu Sukurah</td>
                <td>95</td>
                <td>18.79</td>
                <td><a href="/Admin/ResultDetail" class="btn btn-secondary">Edit</a></td>
            </tr>
        </tbody>

    </table>
</div>

@section scripts
{
    <script>
    $(document).ready(function () {

        //$('button').click(function (e) {
        //    e.preventDefault();
        //    addProductToList();
        //});

    });
    </script>

}

